<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1> <%= typeOfDay %> </h1>
    </div>

    <div class="box">
        <% for(let i = 0; i < newItem.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= newItem[i] %> </p>
            </div>
        <% } %>

        <form action="/" method="post">
            <input type="text" placeholder="New Todo" name="inputTodo" autocomplete="off" required>
            <button type="submit" name="todoSubmit">+</button>
        </form>

    </div>

</body>
</html>